[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bde"]
	path = bde
	url = https://github.com/cran/bde
	shallow = true
	registered = true
